.footer {
  padding: 0;
  margin: auto;
  width: 100%;
  padding: 0;
  ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    li {
      padding: 20px;

      a {
        svg {
          color: black;
          cursor: pointer;
          width: 30px!important;
          height: auto;
        }
      } 
    }
  }
}

@media screen and (max-width: 960px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
