.footer {
  padding: 0;
  width: 100%;
  margin-top: auto;
  ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    li {
      padding: 20px;

      a {
        -webkit-tap-highlight-color: transparent;
        font-size: 30px!important;
        cursor: pointer;
        color: black;
      } 
    }
  }
}


