.footer {
  padding: 0;
  margin: auto;

  .container {
    width: 50%;
    padding: 0;
    margin: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: center;

      li {
        padding: 20px;

        a,
        svg {
            color: black;
          cursor: pointer;
          width: 40px;
          height: auto;
        }
      }
    }
  }
}
