html, body, #root {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

*{
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: normal;
}

$primary-background-color : #eebece;
$secondary-background-color : #000000;
$header-background-color : #ffffff;
$footer-background-color : #0b24fb;


/* Animation */
.fadeIn {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.fadeIn.enter {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

@media (print), (prefers-reduced-motion: reduce) {
  .fadeIn,
  .slideLeft,
  .slideUp {
    transition: none;
    opacity: 1;
    transform: none;
  }
}

/* Set font detail */
@mixin font-type($size, $weight, $style, $height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
  letter-spacing: $spacing;
}

@import "./App.scss";


