html, body, #root {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

*{
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: normal;
}

$primary-background-color : #eebece;
$secondary-background-color : #000000;


